<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                </head>
                <body>
                    <header th:replace="layout/platilla :: header"/>
                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/agregar}">Crear Persona</a>
                    <br/>
                    <div th:if="${personas != null and !personas.empty}">
                        <table border="1">
                            <tr>
                                <th>Id:</th>
                                <th>Nombre:</th>
                                <th>Apellido:</th>
                                <th>Email:</th>
                                <th>Telefono:</th>
                                <th sec:authorize="hasRole('ROLE_ADMIN')">Editar</th>
                                <th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
                            </tr>

                            <tr th:each="persona : ${personas}">
                                <td  th:text="${persona.idPersona}">Mostrar nombre</td>
                                <td  th:text="${persona.nombre}">Mostrar nombre</td>
                                <td  th:text="${persona.apellido}">Mostrar nombre</td>
                                <td  th:text="${persona.email}">Mostrar nombre</td>
                                <td  th:text="${persona.telefono}">Mostrar nombre</td>
                                <td sec:authorize="hasRole('ROLE_ADMIN')" ><a th:href="@{/editar/} + ${persona.idPersona}" th:text="Editar"/></td>
                                <td sec:authorize="hasRole('ROLE_ADMIN')" ><a th:href="@{/eliminar(idPersona=${persona.idPersona})}" th:text="Eliminar"/></td>
                            </tr>
                        </table>
                    </div>

                    <div th:if="${personas == null or personas.empty}">
                        La lista de personas esta vacia
                    </div>
                    <footer th:replace="layout/platilla :: footer"/>
                </body>
                </html>
