<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Inicio</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>

        <section th:replace="layout/botonesAgregar :: botonesAgregar"></section>
        <section th:replace="layout/agregarCliente :: agregarCliente"></section>
        <section th:replace="layout/listadoClientes :: listadoClientes"></section>

        <footer th:replace="layout/plantilla :: footer"></footer>

        <!--  <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/agregar}">Crear Persona</a>
        <br/>
        <div th:if="${personas != null and !personas.empty}">
            <table border="1">
                <tr>
                    <th>Id:</th>
                    <th>Nombre:</th>
                    <th>Apellido:</th>
                    <th>Email:</th>
                    <th>Telefono:</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Editar</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
                </tr>

                <tr th:each="persona : ${personas}">
                    <td  th:text="${persona.idPersona}">Mostrar nombre</td>
                    <td  th:text="${persona.nombre}">Mostrar nombre</td>
                    <td  th:text="${persona.apellido}">Mostrar nombre</td>
                    <td  th:text="${persona.email}">Mostrar nombre</td>
                    <td  th:text="${persona.telefono}">Mostrar nombre</td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')" ><a th:href="@{/editar/} + ${persona.idPersona}" th:text="Editar"/></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')" ><a th:href="@{/eliminar(idPersona=${persona.idPersona})}" th:text="Eliminar"/></td>
                </tr>
            </table>
        </div>

        <div th:if="${personas == null or personas.empty}">
            La lista de personas esta vacia
        </div> -->
    </body>
</html>
